# Test output information
test --test_output=errors --test_summary=detailed

# Allow resolving protoc from a pre-built toolchain
common --incompatible_enable_proto_toolchain_resolution

# Don't report when the root module's lower bound for a dependency happens to be less than the resolved version.
# This is expected and should NOT prompt an engineer to update our lower bound to match.
# WARNING: For repository 'aspect_bazel_lib', the root module requires module version aspect_bazel_lib@1.30.2,
# but got aspect_bazel_lib@1.31.2 in the resolved dependency graph.
common --check_direct_dependencies=off

# passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always

# The CNIOBoringSSL library uses C++14 features like 'enable_if_t' macro support.
# For more details on how to enable this in Bazel:
# https://stackoverflow.com/questions/40260242/how-to-set-c-standard-version-when-build-with-bazel/43388168#43388168
build --cxxopt='-std=c++14'

# Not ready to adopt https://bazel.build/external/lockfile yet - it still has stability bugs.
common --lockfile_mode=off
